---
---

@import "{{ site.theme }}";
.site-footer-credits {
/* display: none */
}
.page-header {
  background-image: none
}

a[href^="http"] {
    background: url(/img/external.svg) center right no-repeat;
    padding-right: 15px;
}
